body,
html {
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
}

button {
  display: block;
  margin: 50vh auto;
  width: 20vw;
  height: 30vh;
  background-color: #000;
  color: #fff;
  font-size: 2em;
}
